In [1]:
import tensorflow as tf
import numpy as np
import math
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
path = "C:\\Users\\anura\\Downloads\\ML_study_jam.csv"

In [13]:
data = pd.read_csv(path)

In [14]:
print("Actual data")
print(data)

Actual data
     Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1.0      1659.0           1961.0                 530.0      66490.0
1          2.0      1461.0           1752.0                 210.0      39820.0
2          3.0      1340.0           1609.0                 720.0      54010.0
3          4.0      1451.0           1748.0                 620.0      53730.0
4          5.0      1770.0           2111.0                 450.0      46620.0
..         ...         ...              ...                   ...          ...
585      586.0      1227.0           1476.0                 720.0      56260.0
586      587.0      1609.0           1930.0                 740.0      76470.0
587      588.0      1553.0           1831.0                 740.0      35680.0
588      589.0      1814.0           2174.0                 770.0      90070.0
589      590.0      1240.0           1493.0                 590.0      33120.0

[590 rows x 5 columns]

In [21]:
print("number of missing values:\n",data.isna().sum())

number of missing values:
 Store_Area               3
Items_Available         11
Daily_Customer_Count     9
Store_Sales              8
dtype: int64

In [23]:
data = data.dropna()
print("data without missing values")
print(data)

data without missing values
     Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0        1659.0           1961.0                 530.0      66490.0
2        1340.0           1609.0                 720.0      54010.0
3        1451.0           1748.0                 620.0      53730.0
4        1770.0           2111.0                 450.0      46620.0
5        1442.0           1733.0                 760.0      45260.0
..          ...              ...                   ...          ...
585      1227.0           1476.0                 720.0      56260.0
586      1609.0           1930.0                 740.0      76470.0
587      1553.0           1831.0                 740.0      35680.0
588      1814.0           2174.0                 770.0      90070.0
589      1240.0           1493.0                 590.0      33120.0

[564 rows x 4 columns]

In [24]:
data = pd.read_csv(path)

In [25]:
head = data.columns
headers = []
for i in head:
    headers.append(i)
print("headers: ",headers)

headers:  ['Store ID ', 'Store_Area', 'Items_Available', 'Daily_Customer_Count', 'Store_Sales']

In [28]:
data = pd.read_csv(path)
for i in headers:
    data[i].fillna(data[i].mode()[0], inplace=True)
print("missing data replaced by mode:")
print(data)

missing data replaced by mode:
     Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1.0      1659.0           1961.0                 530.0      66490.0
1          2.0      1461.0           1752.0                 210.0      39820.0
2          3.0      1340.0           1609.0                 720.0      54010.0
3          4.0      1451.0           1748.0                 620.0      53730.0
4          5.0      1770.0           2111.0                 450.0      46620.0
..         ...         ...              ...                   ...          ...
585      586.0      1227.0           1476.0                 720.0      56260.0
586      587.0      1609.0           1930.0                 740.0      76470.0
587      588.0      1553.0           1831.0                 740.0      35680.0
588      589.0      1814.0           2174.0                 770.0      90070.0
589      590.0      1240.0           1493.0                 590.0      33120.0

[590 rows x 5 columns]

In [31]:
data = pd.read_csv(path)
for i in headers:
    data[i].fillna(data[i].mean(), inplace=True)
print("missing data replaced by mode:")
print(data)

missing data replaced by mode:
     Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1.0      1659.0           1961.0                 530.0      66490.0
1          2.0      1461.0           1752.0                 210.0      39820.0
2          3.0      1340.0           1609.0                 720.0      54010.0
3          4.0      1451.0           1748.0                 620.0      53730.0
4          5.0      1770.0           2111.0                 450.0      46620.0
..         ...         ...              ...                   ...          ...
585      586.0      1227.0           1476.0                 720.0      56260.0
586      587.0      1609.0           1930.0                 740.0      76470.0
587      588.0      1553.0           1831.0                 740.0      35680.0
588      589.0      1814.0           2174.0                 770.0      90070.0
589      590.0      1240.0           1493.0                 590.0      33120.0

[590 rows x 5 columns]

In [32]:
data = pd.read_csv(path)
data = data.fillna(value=1500, thresh=1000)

TypeError: DataFrame.fillna() got an unexpected keyword argument 'thresh'